
{% load static %}
<nav class="navbar app-new-user-navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{% url 'users_list' %}">
      <img src="{% static 'images/logo/Kaysim.svg' %}" alt="" style="width:60%;" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
        {% if user.is_superuser %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'users_list' %}"
            >User Management <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company_details' %}"
            >Company Details</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company_list' %}"
            >Company List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waste_records' %}"
            >Capture Waste Record</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waste_records_list' %}"
            >Waste Record List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'compliance_records' %}"
            >Compliance Certificate Download</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link app-new-arrow-link nav-link-collapse"
            href="#"
            id="hasSubItems"
            data-toggle="collapse"
            data-target="#collapseSubItems1"
            aria-controls="collapseSubItems1"
            aria-expanded="false"
            >Reports</a
          >
          <ul
            class="nav-second-level collapse"
            id="collapseSubItems1"
            data-parent="#navAccordion"
          >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'monthly_wastwe_reports' %}">
                <span class="nav-link-text">Monthly Waste Report</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link app-new-arrow-link-2 nav-link-collapse"
            href="#"
            id="hasSubItems"
            data-toggle="collapse"
            data-target="#collapseSubItems2"
            aria-controls="collapseSubItems2"
            aria-expanded="false"
            >Jobs Creation</a
          >
          <ul
            class="nav-second-level collapse"
            id="collapseSubItems2"
            data-parent="#navAccordion"
          >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contrator_details' %}">
                <span class="nav-link-text">Contractor Details</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contrator_list' %}">
                <span class="nav-link-text">Contractor List</span>
              </a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'company_details' %}"
              >Company Details</a
            >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waste_records' %}"
            >Capture Waste Record</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waste_records_list' %}"
            >Waste Record List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'compliance_records' %}"
            >Compliance Certificate Download</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link app-new-arrow-link nav-link-collapse"
            href="#"
            id="hasSubItems"
            data-toggle="collapse"
            data-target="#collapseSubItems1"
            aria-controls="collapseSubItems1"
            aria-expanded="false"
            >Reports</a
          >
          <ul
            class="nav-second-level collapse"
            id="collapseSubItems1"
            data-parent="#navAccordion"
          >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'monthly_wastwe_reports' %}">
                <span class="nav-link-text">Monthly Waste Report</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link app-new-arrow-link-2 nav-link-collapse"
            href="#"
            id="hasSubItems"
            data-toggle="collapse"
            data-target="#collapseSubItems2"
            aria-controls="collapseSubItems2"
            aria-expanded="false"
            >Jobs Creation</a
          >
          <ul
            class="nav-second-level collapse"
            id="collapseSubItems2"
            data-parent="#navAccordion"
          >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contrator_details' %}">
                <span class="nav-link-text">Contractor Details</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contrator_list' %}">
                <span class="nav-link-text">Contractor List</span>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>