<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'fonts/objectivity/objectivity-font.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'zebra-datepicker/Zebra_Datepicker-master/dist/css/bootstrap/zebra_datepicker.min.css' %}"
    />
    <title>Kaysim Waste Record System</title>
    <link rel="icon" href="{% static 'images/logo/favicon.svg' %}" />
  </head>
  <body>
    <section class="app-banner">
      {% include "base.html" %}
      
      <main class="content-wrapper">
        <div class="container-fluid">
            <div class="user-management">
                <div class="container">
                  {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                  </div>
                  {% endfor %}
                 <div class="user-nav-bar">
                     <nav class="navbar navbar-expand-lg">
                         <a class="navbar-brand" href="#">Compliance Certificate </a>
                         
                         <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           <form class="form-inline app-new-form my-2 my-lg-0">
                             <input class="form-control mr-sm-2" type="search" placeholder="Search Waste" aria-label="Search">
                             <div class="search-image">
                              <img src="{% static 'images/user-management/search.svg '%}" alt="">
                          </div>
                        </form>
                        <div class="user-management-icons">
                          <ul>
                              <li>
                                 <a href="">
                                  <img src="{% static 'images/user-management/bell-icon.svg' %}" alt="">
                                 </a>
                              </li>
                              <li class="person-drop-down">
                                <a href="" type="button" data-toggle="dropdown">
                                  <img
                                    src="{% static 'images/user-management/person.svg' %}"
                                    alt=""
                                  />
                                </a>
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">{{request.user.username}}</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                  </div>
                                </div>
                              </li>
                          </ul>
                           </div>
                         </div>
                       </nav>
                    </div>
                    <div class="waste-record">
                       <div class="upload-list">
                        <div class="row">
                          <div class="col-lg-6">
                            <p>Lorem Epson is a dummy word to fill the sentences Lorem Epson is a dummy word to fill the sentences</p>
                       </div>
                       {% if user.is_superuser %}
                       <div class="col-lg-6">
                        <div class="upload-modal">
                          <div>
                            <!-- Button trigger modal -->
                          <button type="button" class="btn app-new-add-user-btn" data-toggle="modal" data-target="#uploadDocuments">
                            Upload
                          </button>
                          <!--Upload Modal -->
                          <div class="modal fade" id="uploadDocuments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5>Upload Document</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'upload_documents' %}" method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                <div class="modal-body">
                                  <div class="modal-form">
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group app-new-upload-file">
                                              <input type="file" class="form-control" id="document" name="document"  required>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-submit-button">
                                      <button type="submit" class="modal-submit-btn">Submit</button>
                                    </div>
                                  </div>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <!-- Update Modal -->
                          {% for document in documents %}
                          <div class="modal fade" id="UpdateDocument{{document.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5>Update Document</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form id="editForm{{ document.id }}" action="{% url 'update_document' document.id %}" method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                <div class="modal-body">
                                  <div class="modal-form">
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="title" name="title" value="{{document.title}}" placeholder="Title" required>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="description" name="description" value="{{document.description}}" placeholder="Description" required>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="modal-form-label">
                                            <div class="form-group app-new-upload-file">
                                              <p>Current file: {{document.file.name}}</p>
                                              <input type="file" class="form-control" id="document" name="document" value="{{document.file}}">
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-submit-button">
                                      <button type="submit" form="editForm{{ document.id }}" class="modal-submit-btn">Submit</button>
                                    </div>
                                  </div>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          </div>
                      </div>
                       </div>
                       {% endif %}
                        </div>
                       </div>

                   <div class="compliance-certificate">
                    <div class="row">
                      {% for document in documents %}
                      <div class="col-md-5">
                        <div class="permit-oraganic-box">
                          <div class="permit-oraganic-box-content">
                            {% if user.is_superuser %}
                            <div class="dots">
                              <div class="btn-group app-new-dots-button" role="group">
                                <button type="button" class="app-new-dots-button" data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'images/dots.png'%}" alt="">
                                </button>
                                <div class="dropdown-menu">
                                  <button class="dropdown-item" data-toggle="modal" data-target="#UpdateDocument{{document.id}}">Edit</button>
                                  <button class="dropdown-item" onclick="confirmDelete('{{ document.id }}')">Delete</button>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                          <ul>
                            <li>
                              <h4>{{document.title}}</h4>
                           <p>{{document.description}}</p>
                            </li>
                            <li class="upload-new-pdf">
                              <a href="{{document.file.url}}" target="_blank">
                                <img src="{% static 'images/compliance-certificate/download_pdf.svg'%}" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                        </div>
                      </div>
                      {% endfor %}
                      <!-- <div class="col-md-5">
                        <div class="permit-oraganic-box">
                          <div class="permit-oraganic-box-content">
                            <div class="dots">
                              <div class="btn-group app-new-dots-button" role="group">
                                <button type="button" class="app-new-dots-button" data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'images/dots.png'%}" alt="">
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                                </div>
                              </div>
                            </div>
                          <ul>
                            <li>
                              <h4>Joburg Water 2022 - 2023</h4>
                              <p>Sewage</p>
                            </li>
                            <li class="upload-new-pdf">
                              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/uploads/complalience_certificates/JoburgWater2022-2023-Sewage.pdf" target="_blank">
                                <img src="{% static 'images/compliance-certificate/download_pdf.svg'%}" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="permit-oraganic-box app-new-permit-oraganic-box">
                          <div class="permit-oraganic-box-content">
                            <div class="dots">
                              <div class="btn-group app-new-dots-button" role="group">
                                <button type="button" class="app-new-dots-button" data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'images/dots.png'%}" alt="">
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                                </div>
                              </div>
                            </div>
                          <ul>
                            <li>
                              <h4>W.D Hall Transport</h4>
                              <p>Permit</p>
                            </li>
                            <li class="upload-new-pdf">
                              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/uploads/complalience_certificates/W.D_HallTransport-Permit.pdf" target="_blank">
                                <img src="{% static 'images/compliance-certificate/download_pdf.svg'%}" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="permit-oraganic-box app-new-permit-oraganic-box">
                          <div class="permit-oraganic-box-content">
                            <div class="dots">
                              <div class="btn-group app-new-dots-button" role="group">
                                <button type="button" class="app-new-dots-button" data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'images/dots.png'%}" alt="">
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                                </div>
                              </div>
                            </div>
                          <ul>
                            <li>
                              <h4>Organic Matters 2023 - 2025</h4>
                           <p>Waste Transporter General</p>
                            </li>
                            <li class="upload-new-pdf">
                              <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/uploads/complalience_certificates/WasteTransporterGeneral-OrganicMatters2023-2025.pdf" target="_blank">
                                <img src="{% static 'images/compliance-certificate/download_pdf.svg'%}" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                        </div>
                      </div> -->
                    </div>
                   </div>
            </div>
        </div>      
        </div>
      </main>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="{%static 'zebra-datepicker/Zebra_Datepicker-master/dist/zebra_datepicker.min.js'%}"></script>
    <script>
        $('#datepicker').Zebra_DatePicker();
    </script>
    <script>
        $(document).ready(function() {
          $('.nav-link-collapse').on('click', function() {
            $('.nav-link-collapse').not(this).removeClass('nav-link-show');
            $(this).toggleClass('nav-link-show');
          });
        });
    </script>
    <script>
      function confirmDelete(objectId) {
        console.log(objectId)
        if (confirm('Are you sure you want to delete this document?')) {
          // Redirect to the delete view passing the object ID
          window.location.href = '/compliance_records/' + objectId + '/delete';
        }
      }
    </script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
</body>
</html>