<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'fonts/objectivity/objectivity-font.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'zebra-datepicker/Zebra_Datepicker-master/dist/css/bootstrap/zebra_datepicker.min.css' %}"
    />
    <title>Kaysim Waste Record System</title>
    <link rel="icon" href="{% static 'images/logo/favicon.svg' %}" />
  </head>
  <body>
    <section class="app-banner">
      {% include "base.html" %}

      <main class="content-wrapper">
        <div class="container-fluid">
          <div class="user-management">
            <div class="container">
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                    
                  </div>
                  <!-- <script> $('#AddUserModal').modal('show');</script> -->
                {% endfor %}
              <div class="user-nav-bar">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="#">Overview</a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <form class="form-inline app-new-form my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="text" name="search" value="{{ search_query|default:'' }}" placeholder="Search by name" aria-label="Search" autocomplete="off"/>
                      <div class="search-image">
                        <button type="submit"><img
                          src="{% static 'images/user-management/search.svg' %}"
                          alt=""
                        /></button>
                      </div>
                    </form>
                    <div class="user-management-icons">
                      <ul>
                        <li>
                          <a href="">
                            <img
                              src="{% static 'images/user-management/bell-icon.svg' %}"
                              alt=""
                            />
                          </a>
                        </li>
                        <li class="person-drop-down">
                          <a type="button" data-toggle="dropdown">
                            <img
                              src="{% static 'images/user-management/profilee.png' %}"
                              alt="" style="width: 50px;"
                            />
                          </a>
                          <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">{{request.user.username}}</a>
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="user-list">
                    <div class="user-list-content">
                      <div class="user-list-content-2 app-new-user-list-content-model">
                        <div>
                          <h3>User List  <span> ({{user_count}})</span></h3>
                        </div>
                            <div>
                              <!-- Button trigger modal -->
                            <button type="button" class="btn app-new-add-user-btn" data-toggle="modal" data-target="#AddUserModal">
                              Add User
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5>Add User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="{% url 'add_user' %}" method="post">
                                    {% csrf_token %}
                                  <div class="modal-body">
                                    <div class="modal-form">
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <!-- <input type="text" class="form-control" id="" name="" placeholder="Select Company"> -->
                                                <select class="form-control" id="companies" name="companies" required>
                                                  <option value="">Select a company</option>
                                                  {% for company in companies %}
                                                  <option value="{{company.id}}">{{company.name}}</option>        
                                                  {% endfor %}                          
                                                </select>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="first_name" aria-describedby="emailHelp" placeholder="First Name" required>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="last_name" aria-describedby="emailHelp" placeholder="Last Name">
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <input type="text" class="form-control" id="member_id" name="member_id" placeholder="Membe ID" readonly>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="modal-form-label">
                                              <div class="form-group">
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="modal-submit-button">
                                        <button type="submit" class="modal-submit-btn">Submit</button>
                                      </div>
                                    </div>
                                  </div>
                                  </form>
                                  <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                            </div>
                      </div>
                      <div class="user-list-table">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Sl.No</th>
                              <th>Name</th>
                              <th>Username</th>
                              <th>Membership Number</th>
                              <th>Company</th>
                              <th>Status</th>
                              <th>Manage</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for user in user_list %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{user.first_name}} {{user.last_name}}</td>
                              <td>{{user.username}}</td>
                              <td>{{user.member_id}}</td>
                              <td>{{user.company}}</td>
                              <td class=" {% if user.is_active == True %} active-in-active-box {% else %} active-in-active-box app-new-active-inctive-box {% endif %}">
                                <select class="selectpicker">
                                  {% if user.is_active == True %}
                                  <option>Active</option>
                                  {% else %}
                                  <option>In-Active</option>
                                  {% endif %}
                                </select>
                                
                              </td>
                              <td>
                                <a data-toggle="modal" data-target="#editModal{{ user.id }}">
                                  <img
                                    src="{% static 'images/user-management/edit.svg' %}"
                                    alt=""
                                  />
                                </a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <!-- table.html -->
                        {% for user in user_list %}
                        <div class="modal fade" id="editModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5>Update User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form id="editForm{{ user.id }}" method="POST" action="{% url 'update_user' user.id %}">
                                {% csrf_token %}
                              <div class="modal-body">
                                <div class="modal-form">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="modal-form-label app-new-date-modal-form-label app-new-status-form" >
                                        <div class="form-group app-new-date-picker-form">
                                            <label for="status">Status</label>
                                              <select class="selectpicker app-new-date-picker-main" name="status" value="{{ user.is_active }}">
                                                {% if user.is_active == True %}
                                                <option value="True">Active</option>
                                                <option value="False">In-Active</option>
                                                {% else %}
                                                <option value="False">In-Active</option>
                                                <option value="True">Active</option>
                                                {% endif %}
                                              </select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="modal-form-label">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="first_name" aria-describedby="emailHelp"  value="{{ user.first_name }}" placeholder="First Name">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="modal-form-label">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="last_name" aria-describedby="emailHelp"  value="{{ user.last_name }}" placeholder="Last Name">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="modal-form-label app-new-password">
                                          <div class="form-group">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                      
                                  <div class="modal-submit-button">
                                    <button type="submit" form="editForm{{ user.id }}" class="modal-submit-btn">Submit</button>
                                  </div>
                                </div>
                              </div>
                              </form>
                              <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div> -->
                            </div>
                          </div>
                        </div>
                          {% endfor %}

                      </div>
                      <div class="app-new-pagination">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            {% if user_list.has_previous %}
                              <li class="page-item"><a class="page-link app-new-page-link" href="?page={{ user_list.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"">Previous</a></li>
                            {% endif %}
                            {% for page_num in user_list.paginator.page_range %}
                                {% if user_list.number == page_num %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if user_list.has_next %}
                              <li class="page-item"><a class="page-link app-new-page-link"href="?page={{ user_list.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Next</a></li>
                            {% endif %}
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
                {% comment %} <div class="col-md-4">
                  <div class="quotes-diversion">
                    <div class="qutoes-box">
                      <div class="qutoes-box-content">
                        <h4>Quotes</h4>
                        <p>Lorem Epson is a dummy word to fill the sentences</p>
                      </div>
                    </div>
                    <div class="qutoes-box app-new-quotes-box">
                      <div class="qutoes-box-content">
                        <h4>Diversion rates</h4>
                        <div class="diversion-highest-rates">
                          <div class="diversion-highest-rates-content">
                            <div class="highest">
                              <h5>Highest</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage">
                              <h5>8%</h5>
                              <h4>52%</h4>
                              <div class="persentage-image">
                                <img
                                  src="{% static 'images/user-management/up-arrow.svg' %}"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                          <div class="diversion-highest-rates-content">
                            <div class="highest average">
                              <h5>Average</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage average2">
                              <h4>20%</h4>
                            </div>
                          </div>
                          <div class="diversion-highest-rates-content">
                            <div class="highest lowest">
                              <h5>Lowest</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage lowest2">
                              <h5>8%</h5>
                              <h4>20%</h4>
                              <div class="persentage-image">
                                <img
                                  src="{% static 'images/user-management/up-arrow.svg' %}"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                          <div class="diversion-highest-rates-content">
                            <div class="highest">
                              <h5>Highest</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage">
                              <h5>8%</h5>
                              <h4>52%</h4>
                              <div class="persentage-image">
                                <img
                                  src="{% static 'images/user-management/up-arrow.svg' %}"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                          <div class="diversion-highest-rates-content">
                            <div class="highest average">
                              <h5>Average</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage average2">
                              <h4>20%</h4>
                            </div>
                          </div>
                          <div class="diversion-highest-rates-content">
                            <div class="highest lowest">
                              <h5>Lowest</h5>
                              <h4>Region Name</h4>
                            </div>
                            <div class="persentage lowest2">
                              <h5>8%</h5>
                              <h4>20%</h4>
                              <div class="persentage-image">
                                <img
                                  src="{% static 'images/user-management/up-arrow.svg' %}"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="{% static 'zebra-datepicker/Zebra_Datepicker-master/dist/zebra_datepicker.min.js' %}"></script>
    <script>
      $("#datepicker").Zebra_DatePicker();
    </script>
    <script>
      $(document).ready(function () {
        $(".nav-link-collapse").on("click", function () {
          $(".nav-link-collapse").not(this).removeClass("nav-link-show");
          $(this).toggleClass("nav-link-show");
        });
      });
    </script>
    <script>
      // Generate Member ID
      function generateMemberID() {
        var memberIDInput = document.getElementById("member_id");
        var randomNumber = Math.floor(Math.random() * 10000000); // Generates a random number
  
        memberIDInput.value = 'MID'+randomNumber; // Set the generated number as the value of the input field
      }
  
      // Call the generateMemberID function when the page loads
      window.onload = generateMemberID;
    </script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
  </body>
</html>
