<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'fonts/objectivity/objectivity-font.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'zebra-datepicker/Zebra_Datepicker-master/dist/css/bootstrap/zebra_datepicker.min.css' %}"
    />
    <title>Kaysim Waste Record System</title>
    <link rel="icon" href="{% static 'images/logo/favicon.svg' %}" />
  </head>
  <style>
    .tabs {
      overflow: hidden;
    }

    .tab-button {
      background-color: #f1f1f1;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      transition: background-color 0.3s;
    }

    .tab-button:hover {
      background-color: #ddd;
    }

    .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid #ccc;
    }

    .active {
      display: block;
    }
  </style>
  <body>
    <section class="app-banner">
      {% include "base.html" %}
      <main class="content-wrapper">
        <div class="container-fluid">
          <div class="user-management">
            <div class="container">
              {% if messages %}
                <div class="messages">
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                  </div>
                {% endfor %}
                </div>
              {% endif %}
             <div class="user-nav-bar">
                 <nav class="navbar navbar-expand-lg">
                     <a class="navbar-brand" href="#">Capture Waste Record</a>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="user-management-icons">
                          <ul>
                              <li>
                                <a href="">
                                  <img src="{% static 'images/user-management/bell-icon.svg' %}" alt="">
                                </a>
                              </li>
                              <li class="person-drop-down">
                                <a href="" type="button" data-toggle="dropdown">
                                  <img
                                    src="{% static 'images/user-management/profilee.png' %}" style="width: 50px;"
                                    alt=""
                                  />
                                </a>
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">{{request.user.username}}</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                  </div>
                                </div>
                              </li>
                          </ul>
                       </div>
                     </div>
                   </nav>
                </div>
                <div class="waste-record">
                    <!-- <p>Lorem Epson is a dummy word to fill the sentences Lorem Epson is a dummy word to fill the sentences</p> -->
                </div>
                <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                  {% csrf_token %}
                <div class="company-details app-new-company-details">
                    <div class="app-comapany-form"> 
                       <div class="row">
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                                <div class="captute-waste-form">
                                    <div class="select-month-content">
                                        <h3>Select Branch</h3>
                                    </div>
                                      <select class="selectpicker" id="month" name="month" value="{{wasteRecord_Obj.branch}}">
                                        <option value="{{wasteRecord_Obj.branch}}">{{wasteRecord_Obj.branch}}</option>                              
                                      </select>
                                    </div>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                          <div class="col-md-6">
                                <div class="app-new-main-form">
                                    <div class="captute-waste-form">
                                        <div class="select-month-content">
                                            <h3>Select Company</h3>
                                        </div>
                                          <select class="selectpicker" id="company" name="company" value="{{wasteRecord_Obj.company}}">
                                            <!-- <option value="">Select a Company</option> -->
                                            <option value="{{wasteRecord_Obj.company}}">{{wasteRecord_Obj.company}}</option>                                    
                                          </select>
                                    </div>
                                </div>
                            </div>
                          {% endif %}
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                                <div class="captute-waste-form app-new-captute-waste-form-main">
                                  <label for="entry_date" style="margin-right:10px;">Select Entry Date</label>
                                  <input type="text" id="datepicker" name="entry_date" value="{{wasteRecord_Obj.entry_date |date:"Y-m-d"}}" data-zdp_direction="1" data-zdp_disabled_dates='["* * * 0,6"]' placeholder="YYYY/MM/DD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="app-new-main-form">
                            <div class="captute-waste-form">
                                <div class="select-month-content">
                                    <h3>Select Month</h3>
                                </div>
                                  <select class="selectpicker" id="month" name="month" value="{{wasteRecord_Obj.month}}">
                                    <option value="{{wasteRecord_Obj.month}}">{{wasteRecord_Obj.month}}</option>
                                    <option value="January">January</option>                                    
                                    <option value="February">February</option>                                    
                                    <option value="March">March</option>                                   
                                    <option value="April">April</option>                                   
                                    <option value="May">May</option>
                                    <option value="June">June</option>                                   
                                    <option value="July">July</option>                                   
                                    <option value="August">August</option>                                   
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>                                   
                                    <option value="December">December</option>                                    
                                  </select>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="disposal_slip_no">Disposal Slip Number</label>
                                <input type="text" class="form-control" name="disposal_slip_no" id="disposal_slip_no" value="{{wasteRecord_Obj.disposal_slip_no}}" placeholder="Enter disposal slip numner">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="app-new-main-form">
                                <div class="form-group">
                                  <label for="manifest_no">Ticket Number</label>
                                  <input type="text" class="form-control" name="manifest_no" id="manifest_no" value="{{wasteRecord_Obj.manifest_no}}" placeholder="Enter ticket number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="bin_size">Bin Size</label>
                                <input type="text" class="form-control" name="bin_size" id="bin_size" value="{{wasteRecord_Obj.bin_size}}" placeholder="Enter bin size in Kgs">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="vehicle_registration">Vehicle Registration</label>
                                <input type="text" class="form-control" name="vehicle_registration" id="vehicle_registration" value="{{wasteRecord_Obj.vehicle_registration}}" placeholder="Enter vehicle registration">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="bin_GW">Bin - GW</label>
                                <input type="number" class="form-control" name="bin_GW" id="bin_GW" value="{{wasteRecord_Obj.bin_GW}}" placeholder="Enter Bins-GW" onchange="calculate()">
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="app-new-main-form">
                               <div class="form-group">
                                 <label for="rubble">Rubble</label>
                                 <input type="number" class="form-control" name="rubble" id="rubble" value="{{wasteRecord_Obj.rubble}}" placeholder="Enter rubble" onchange="calculate()">
                               </div>
                           </div>
                     </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="solid_waste">Solid Waste</label>
                                <input type="number" class="form-control" name="solid_waste" id="solid_waste" value="{{wasteRecord_Obj.solid_waste}}" placeholder="Enter solid waste in Kgs" onchange="calculate()">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="app-new-main-form">
                                <div class="captute-waste-form">
                                    <div class="select-month-content">
                                        <h3>Recyclable Item</h3>
                                    </div>
                                    <select class="selectpicker" name="recyclable_item" value="{{wasteRecord_Obj.recyclable_item}}" id="recyclable_item">
                                        {% if wasteRecord_Obj.recyclable_item %}
                                            <option value="{{wasteRecord_Obj.recyclable_item}}">{{wasteRecord_Obj.recyclable_item}}</option>
                                            {% endif %}
                                        {% for choice in choices %}
                                            
                                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="hazardous_waste">Hazardous Waste</label>
                                <input type="number" class="form-control" name="hazardous_waste" id="hazardous_waste" value="{{wasteRecord_Obj.hazardous_waste}}" placeholder="Enter liquid waste in Kgs" onchange="calculate()">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="liquid_waste">Liquid Waste</label>
                                <input type="number" class="form-control" name="liquid_waste" id="liquid_waste" value="{{wasteRecord_Obj.liquid_waste}}" placeholder="Enter liquid waste in Ltr" onchange="calculate()">
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="app-new-main-form">
                              <div class="form-group">
                                <label for="total_waste">Total Waste in Tonnage</label>
                                <input type="text" class="form-control" name="total_waste" id="total_waste" value="{{wasteRecord_Obj.total_waste}}" placeholder="Total waste in Tonnage" readonly>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="app-new-main-form">
                                <div class="captute-waste-form">
                                    <div class="select-month-content">
                                        <h3>Land fill </h3>
                                    </div>
                                    <div class="form-group">
                                      <input type="text" class="form-control" name="land_fill" id="land_fill" value="{{wasteRecord_Obj.land_fill}}">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="upload-card tabs">
                            <div class="upload-card-list tabs">
                                <ul>
                                    <li>
                                        <button type="button" class="tab-button active" onclick="openTab(event, 'tab1')">Collection Note</button>
                                    </li>
                                    <li>
                                        <button type="button" class="tab-button" onclick="openTab(event, 'tab2')">Service Provider Certificate</button>
                                    </li>                                                
                                    <li>
                                        <button  type="button" class="tab-button" onclick="openTab(event, 'tab3')">Receiving Site Disposal Certificate</button>
                                    </li>
                                    <li>
                                        <button  type="button" class="tab-button" onclick="openTab(event, 'tab4')">Lab Test Result</button>
                                    </li>
                                    <li>
                                        <button  type="button" class="tab-button" onclick="openTab(event, 'tab5')">Weighbridge Ticket</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="upload-file">
                                <div class="upload-file-content">
                                <div class="input-group">
                                    <div  id="tab1" class="custom-file app-new-custom-file tab-content" style="display: block;">
                                      <input type="file" class="custom-file-input" id="file1" name="file1" onchange="getFileData('file1');" aria-describedby="inputGroupFileAddon01">
                                      <label class="custom-file-label" for="file1">
                                        <div class="app-new-custom-file-label">
                                            <img src="{% static 'images/capture-waste-record/upload.svg'%}" alt="">
                                            <h5>Upload File</h5>
                                            <h6>your file <span>here or Browse Files</span></h6>
                                            <p id="file1_id"></p>
                                            {% if wasteRecord_Obj.collection_note %}
                                              <p>Currently : <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{wasteRecord_Obj.collection_note}}" target="_blank">{{wasteRecord_Obj.collection_note}}</a></p>
                                            {% endif %}
                                            <p>Only certain file types are allowed</p>
                                        </div>
                                      </label>
                                    </div>
                                    <div  id="tab2" class="custom-file app-new-custom-file tab-content" style="display: none;">
                                      <input type="file" class="custom-file-input" id="file2" name="file2" onchange="getFileData('file2');"  aria-describedby="inputGroupFileAddon01">
                                      <label class="custom-file-label" for="file2">
                                        <div class="app-new-custom-file-label">
                                            <img src="{% static 'images/capture-waste-record/upload.svg'%}" alt="">
                                            <h5>Upload File</h5>
                                            <h6>your file <span>here or Browse Files</span></h6>
                                            {% if wasteRecord_Obj.service_provider_certificate %}
                                              <p>Currently : <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{wasteRecord_Obj.service_provider_certificate}}">{{wasteRecord_Obj.service_provider_certificate}}</a></p>
                                            {% endif %}
                                            <p id="file2_id"></p>
                                            <p>Only certain file types are allowed</p>
                                        </div>
                                      </label>
                                    </div>
                                    <div  id="tab3" class="custom-file app-new-custom-file tab-content" style="display: none;">
                                      <input type="file" class="custom-file-input" id="file3" name="file3" onchange="getFileData('file3');" aria-describedby="inputGroupFileAddon01">
                                      <label class="custom-file-label" for="file3">
                                        <div class="app-new-custom-file-label">
                                            <img src="{% static 'images/capture-waste-record/upload.svg'%}" alt="">
                                            <h5>Upload File</h5>
                                            <h6>your file <span>here or Browse Files</span></h6>
                                            {% if wasteRecord_Obj.landfill_disposal_certificate %}
                                              <p>Currently : <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{wasteRecord_Obj.landfill_disposal_certificate}}" target="_blank">{{wasteRecord_Obj.landfill_disposal_certificate}}</a></p>
                                            {% endif %}
                                            <p id="file3_id"></p>
                                            <p>Only certain file types are allowed</p>
                                        </div>
                                      </label>
                                    </div>
                                    <div  id="tab4" class="custom-file app-new-custom-file tab-content" style="display: none;">
                                      <input type="file" class="custom-file-input" id="file4" name="file4" onchange="getFileData('file4');" aria-describedby="inputGroupFileAddon01">
                                      <label class="custom-file-label" for="file4">
                                        <div class="app-new-custom-file-label">
                                            <img src="{% static 'images/capture-waste-record/upload.svg'%}" alt="">
                                            <h5>Upload File</h5>
                                            <h6>your file <span>here or Browse Files</span></h6>
                                            {% if wasteRecord_Obj.lab_test_result %}
                                              <p>Currently : <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{wasteRecord_Obj.lab_test_result}}">{{wasteRecord_Obj.lab_test_result}}</a></p>
                                            {% endif %}
                                            <p id="file4_id"></p>
                                            <p>Only certain file types are allowed</p>
                                        </div>
                                      </label>
                                    </div>
                                    <div  id="tab5" class="custom-file app-new-custom-file tab-content" style="display: none;">
                                      <input type="file" class="custom-file-input" id="file5" name="file5" onchange="getFileData('file5');" aria-describedby="inputGroupFileAddon01">
                                      <label class="custom-file-label" for="file5">
                                        <div class="app-new-custom-file-label">
                                            <img src="{% static 'images/capture-waste-record/upload.svg'%}" alt="">
                                            <h5>Upload File</h5>
                                            <h6>your file <span>here or Browse Files</span></h6>
                                            {% if wasteRecord_Obj.weight_bridge_certificate %}
                                              <p>Currently : <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{wasteRecord_Obj.weight_bridge_certificate}}">{{wasteRecord_Obj.weight_bridge_certificate}}</a></p>
                                            {% endif %}
                                            <p id="file5_id"></p>
                                            <p>Only certain file types are allowed</p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>
                                  </div>
                            </div>
                        </div>
                    </div> 
                    </div>    
                <div class="app-new-button-content">
                <div class="app-comapany-submit-button app-new-app-comapany-submit-button">
                    <button type="reset" class="btn-1">Reset</button>
                    <button type="submit" class="btn-2">Save</button>
                </div>
                <div class="button-content">
                <!-- <p>Lorem Epson is a dummy word to fill the sentences Lorem Epson is a dummy word to fill the sentences</p> -->
              </form>
            </div>
            </div>
            </div>
            
         </div>
      </div>        
    </div>
  </main>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="{% static 'zebra-datepicker/Zebra_Datepicker-master/dist/zebra_datepicker.min.js'%}"></script>
    <script>
        $('#datepicker').Zebra_DatePicker();
    </script>
    <script>
        $(document).ready(function() {
  $('.nav-link-collapse').on('click', function() {
    $('.nav-link-collapse').not(this).removeClass('nav-link-show');
    $(this).toggleClass('nav-link-show');
  });
});

    </script>
    <script>
      function openTab(event, tabName) {
        var i, tabContent, tabButtons;
        tabContent = document.getElementsByClassName('tab-content');
        for (i = 0; i < tabContent.length; i++) {
          tabContent[i].style.display = 'none';
        }
        tabButtons = document.getElementsByClassName('tab-button');
        for (i = 0; i < tabButtons.length; i++) {
          tabButtons[i].className = tabButtons[i].className.replace(' active', '');
        }
        document.getElementById(tabName).style.display = 'block';
        event.currentTarget.className += ' active';
      }
  
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('tab1').style.display = 'block';
        document.getElementsByClassName('tab-button')[0].className += ' active';
      });
    </script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
</body>
<script>
function getFileData(id){
  var fu1 = document.getElementById(""+id+"").files[0].name; 
    $("#"+id+'_id').text(fu1);
}
</script>
<script>
  function calculate() {
    // Get the input field values
    var bin_GW = parseFloat(document.getElementById('bin_GW').value);
    var solid_waste = parseFloat(document.getElementById('solid_waste').value);
    var liquid_waste = parseFloat(document.getElementById('liquid_waste').value);
    var hazardous_waste = parseFloat(document.getElementById('hazardous_waste').value);
    var rubble = parseFloat(document.getElementById('rubble').value);
    // Perform the calculation
    var total_waste = ((bin_GW + solid_waste + liquid_waste + hazardous_waste + rubble) / 1000);
    
    // Display the result
    document.getElementById('total_waste').value = total_waste;
  }
  function validateForm()
  {
    var entry_date=$('#datepicker').val();
    if(entry_date=="" || entry_date==undefined){
      alert("Please select entry date");
      return false;
    }
  }
</script>
</html>